body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 100px;
  width: auto;
  z-index: 1;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 8px 1px gray;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  margin: 0 auto;
  box-shadow: 0 0 8px 1px gray;
  padding: 20px;
  background-color: white;
}

p {
  margin: 0;
}

.shop-item {
  width: 70%;
  height: auto;
  box-shadow: 0 0 8px 1px gray;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
}

.shop-item img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-left: 10px;
}

.shop-item ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.shop-item li::before {
  content: '•';
  margin-right: 5px;
}

.shop-item table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.shop-item tr,
.shop-item td {
  padding: 0;
}

.img-td {
  width: 172px;
  vertical-align: top;
}

.button-td {
  vertical-align: bottom;
}

.heading {
  margin: 0;
  color: green;
}

.price {
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-button {
  width: 110px;
  height: 50px;
  margin-left: 62px;
  background-color: lightcoral;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

.cart-button:hover {
  background-color: red;
  box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.empty-column {
  width: 15px;
}

.shop-name {
  font-family: 'Russo One', 'Arial', sans-serif;
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

.ad {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  color: red;
}

.cart {
  position: relative;
  margin-right: 6px;
  height: 70px;
  width: 70px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.cart:hover {
  box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.counter {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 0;
  border-radius: 4px;
  margin: 0;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: yellow;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 2;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: white;
  margin: 20px 20px auto;
  width: 35%;
  height: auto;
  box-shadow: 0 0 8px 1px gray;
  padding: 15px 15px 20px 15px;
}

.modal-table {
  border: none;
  border-collapse: collapse;
  margin-bottom: 5px;
  width: 100%;
}

.modal-table th,
.modal-table td {
  padding: 5px;
}

.modal-table th {
  font-weight: bold;
  font-size: 24px;
}

.modal-table tr[id="item"]:hover {
  background-color: lightgrey;
}

.modal-table-column-1 {
  text-align: left;
}

.modal-table-column-2 {
  text-align: center;
  width: 26%;
}

.modal-table-column-3 {
  text-align: right;
  width: 30px;
}

.close-modal-span {
  position: absolute;
  top: 20px;
  right: 20px;
  color: gray;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-span:hover,
.close-modal-span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-buttons {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}

.modal-button {
  height: 50px;
  background-color: lightcoral;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

.modal-button:hover {
  background-color: red;
  box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.remove-item-button {
  width: 30px;
  height: 30px;
  background-color: lightcoral;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

.remove-item-button:hover {
  background-color: red;
  box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  cursor: pointer;
}

.notice {
  position: sticky;
  display: none;
  align-items: center;
  justify-content: center;
  top: 140px;
  width: auto;
  z-index: 1;
  margin: 0;
  box-shadow: 0 0 8px 1px gray;
  padding: 20px;
}

.notice-content {
  position: relative;
}

.close-notice-span {
  position: absolute;
  float: right;
  top: -20px;
  right: -17px;
  color: gray;
  font-size: 28px;
  font-weight: bold;
}

.close-notice-span:hover,
.close-notice-span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}